@model API_UG.Models.Agreement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Agreement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgreementDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgreementDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgreementCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgreementCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgreementCompanyNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgreementCompanyNavigation.CompanyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgreementEmployeeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgreementEmployeeNavigation.EmployeeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AgreementId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
