@model IEnumerable<API_UG.Models.Agreement>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AgreementDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgreementCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgreementCompanyNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgreementEmployeeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AgreementDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgreementCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgreementCompanyNavigation.CompanyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgreementEmployeeNavigation.EmployeeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AgreementId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AgreementId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AgreementId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
